* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family);
  color: var(--color-font);
  background: var(--color-bg);

  font-size: 15px;
  line-height: 1.6;
  background-color: F2F4F3#;
  border: solid 8px #213127;
  box-sizing: border-box;
}

#wrapper {
  padding: 1rem;
  width: 100%;
  max-width: 960px;
  margin: 40px auto;
}

#header {
  /*background: #00F;*/
  display: flex;
  margin-bottom: 20px;
}
#logo {
  /*background: #0F0;*/
  flex: 1;
  padding-left: 3rem;
}
#title {
  /*background: #0FF;*/
  flex: 1;
  padding-top: 100px;
  text-align: center;
  font-size: 2.3rem;
  line-height: 1.4;
  font-style: italic;
  color: #213127;
}
#description {
  /*background: #F00;*/
  flex: 1;
  text-align: left;
  font-family: var(--font-family-mono);
  color: #AD2A0C;
  padding-right: 3rem;
}

#description-note {
  padding-top: 20px;
  text-align: right;
  color: #213127;
  font-style: normal;
}

#main {
  width: 100%;
  /*color: #ccc;*/
  display: flex;
  flex-wrap: wrap;
}

.vase {
  /*background: #0FF;*/
  width: 33.333%;
  padding: 2.2rem;
  margin-bottom: 1rem;
  font-family: var(--font-family-mono) ;
  font-size: .9rem;
  color: #7B7F80;
}

.vase img {
  width: 100%;
}

.vase img:hover {
  border: solid 3px #AD2A0C;
}

.vase.roundedTop img {
  border-radius: 1000px 1000px 0px 0px;
}
.vase.roundedLeft img {
  border-radius: 100px 0 0px 0px;
}

.vase.description {
  display: flex;
  width: 100%;
  padding: 0rem;
  margin-bottom: 0rem;
  /*background: #00F;*/
}

.vase.title {
  flex: 2;
  /*background: #F00;*/
  color: #7B7F80;
  text-align: left;
  padding: 0rem;
  margin-bottom: 0rem;
}

.vase.price {
  flex: 1;
  /*background: #0F0;*/
  color: #AD2A0C;
  font-weight: bold;
  text-align: right;
  padding: 0rem;
  margin-bottom: 0rem;
}

#footer {
  /*background: aqua;*/
  display: flex;
  border-top:solid 1px #213127;
  padding-top: 80px;
  margin-top: 45px;
  line-height: 1.8;
  max-width: 1366px;
}

#artistImage {
  /*background: #0F0;*/
  flex: 1;
  stroke: #AD2A0C;
  stroke-width: 1px;
  padding-right: 2rem;
}

#artistInfo {
  /*background: aqua;*/
  flex: 2;
  color: #AD2A0C;
  padding-left: 0rem;
  padding-right: 4rem;
}

#Contact {
  /*background: #F00;*/
  flex: .8;
  font-size: 1.6rem;
  font-style: italic;
  color: #213127;
}

#email {
  font-size: 1rem;
  padding-top: 2rem;
  font-style: normal;
  font-weight: bold;
}

#base {
  background: #213127;
  display: flex;
  color: #F2F4F3;
  padding: 4rem 0rem;
  margin: 0px auto;
  line-height: 1.5rem;
}

#base-logo {
  /*background:#0F0;*/
  flex: 1;
  padding-left: 15%;
  font-size: 1.4rem;
}

#base-note {
  /*background:#F00;*/
  flex: 1.5;
  font-family: var(--font-family-mono);
  font-size: 0.8rem;
  max-width: 500px;
}

#base-social {
  /*background:#00F;*/
  flex: 1;
  font-size: 1rem;
  padding-left: 8%;
  line-height: 2;
}

a {
  letter-spacing: .1rem;
  color: #F2F4F3;
  text-decoration: none;
}


@media (max-width: 1080px) {
  .vase {
    width: 50%;
  }

  #artistImage {
    padding-right: 0rem;
  }
  
  #artistInfo {
    padding-right: 2rem;
  }
  
  #Contact {
    font-size: 1.2rem;
  }

  #base {
    width: 100%;
    padding: 4rem 2%;
  }

  #base-logo {
    /*background:#0F0;*/
    padding-left: 0rem;
    font-size: 1.2rem;
  }

  #base-note {
    /*background:#F00;*/
    padding-top: 0px;
  }

  #base-social {
    padding-top: 0px;
    padding-left: 4rem;
  }
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
  } 
  #title {
    display: none;
  }
  #description {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .vase {
    width: 50%;
  }
  #footer {
    flex-direction: column;
    padding: 4rem 2%;
  } 
  #Contact {
    text-align: left;
    padding-top: 20px;
    font-size: 1.4rem;
  }

  #artistImage {
    margin-bottom: 40px;
    max-width: 500px;
    align-content: center;
  }

  #artistInfo {
    /*background: aqua;*/
    padding-right: 0rem;
    font-size: 1rem;
  }

  #base {
    flex-direction: column;
    padding: 5rem 5%;
  }

  #base-logo {
    /*background:#0F0;*/
    padding-left: 0rem;
    font-size: 1.2rem;
  }

  #base-note {
    /*background:#F00;*/
    padding-top: 30px;
  }

  #base-social {
    padding-top: 30px;
    padding-left: 0rem;
  }
}

@media (max-width: 600px) {
  html, body {
    border: solid 2px #213127;
  }

  #logo {
    /*background: #0F0;*/
    flex: 1;
    padding-left: 1rem;
  }

  #description {
    padding-right: 1rem;
  }

  .vase {
    width: 100%;
    padding: 0.5rem;
  }
  #artistImage {
    margin-bottom: 40px;
    max-width: 250px;
    align-content: center;
  }

  #artistInfo {
    /*background: aqua;*/
    padding-right: 0rem;
  }

  #base {
    padding: 2rem 5%;
  }

  #base-logo {
    /*background:#0F0;*/
    padding-left: 0rem;
    font-size: 1.2rem;
  }

  #base-note {
    /*background:#F00;*/
    padding-top: 30px;
  }

  #base-social {
    padding-top: 30px;
    padding-left: 0rem;
  }
}