* {
    position: relative;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: var(--font-family);
    color: var(--color-font);
    background: var(--color-bg);
  
    font-size: 15px;
    line-height: 1.6;
    background-color: #F2F4F3;
    border: solid 6px #AD2A0C;
    box-sizing: border-box;
  }

  #wrapper {
      width: 100%;
      padding: 2rem;
      height: 97vh;
  }
  
  #header {
    /*background: #00F;*/
    /*display: flex;*/
    margin-bottom: 10px;
  }

  #title {
    /*flex: 1;
    text-align: left;*/
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 1.8rem;
    line-height: 1.2;
  }

  #collection {
    /*flex: 1;*/
    text-align: right;
    position: absolute;
    top: 8px;
    right: 16px;
    font-family: var(--font-family-mono);
    font-size: 1rem;
  }
 
  #content {
    /*background: #0F0;*/
    margin: 0 auto;
    padding-top: 6rem;
    width: 100%;
    max-width: 70%;
  }

  #description {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7;
    padding: 2% 25% 2% 25%;
  }

  #footer {
    background: #F00;
    /*display: flex;*/
    margin-top: 2rem;
  }

  #subtitle {
    /*flex: 5;
    text-align: left;*/
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 1.8rem;
    font-style: italic;
    color: #213127;
  }

  #logo {
    /*flex: 1;
    padding-left: 50%;*/
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  a {
    text-decoration: none;
    color: #213127;
  }

  @media (max-width: 768px) {
    #content {
        width: 100%;
        max-width: 100%;
    }
    #description {
        padding: 5%;
    }

    #footer {
        /*background: #F00;*/
        flex-direction: column;
        padding: 10% 0% 10% 0%;
      }

    #subtitle {
        margin: 0 auto;
        padding: 10% 0% 10% 0%;
    }
    
    #logo {
        margin: 0 auto;
        padding-left: 0%;
      }
  }